
.control-panel {
    /* height: 41px; */
    /* background:rgba(255, 255, 255, 1); */
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.15); */
    position: absolute;
    right: 20px;
    width: auto;
    height: auto;
    transform: translateY(-50%);
}

/* .ant-slider-track {
    background-color: rgba(0, 0, 0, 0.15);
} */

/* .ant-slider:hover .ant-slider-track {
    background-color: rgba(0, 0, 0, 0.15);
} */

/* .ant-slider-rail {
    background-color: #f5f5f5;
}

.ant-slider:hover .ant-slider-rail {
    background-color: #e1e1e1;
}

.ant-slider-handle {
    border-color: rgba(0,0,0,0.25);
} */

.ant-tooltip {
    z-index: 100;
}

.ant-tooltip-inner {
    color: #ff4d4f;
    /* background-color: transparent;
    box-shadow: none; */
}

/* .ant-tooltip-placement-bottom .ant-tooltip-arrow, .ant-tooltip-placement-bottomLeft .ant-tooltip-arrow, .ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
    border-bottom-color: transparent;
    border: none;
} */

/* .ant-tooltip-arrow::before {
    visibility: hidden;
} */

.icon {
    font-size: 20px;
    font-family: "SegoeUI MDL2 Assets";
}

.btn-like-ant {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: #d9d9d9 1px solid;
    border-radius: 4px;
    padding: 0 15px;
    margin: 0 6px;
    font-size: 14px;
    line-height: 1.5;
    height: 32px;
    position: relative;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all 300ms;
}

.btn-like-ant:hover, .ant-popover-open.btn-like-ant {
    color: #40a9ff;
    border-color: #40a9ff;
    -webkit-user-select: none;
}

.btn-like-ant[danger]:hover {
    color: #ff4d4f;
    border-color: #ff4d4f;
}

.btn-like-ant[danger].toggled {
    color: #fff;
    background: #ff4d4f;
    border-color: #ff4d4f;
}

.warning-mute {
    position: absolute;
}