
.table-heading {
    padding: 10px;
    background: #F7F8F9;
    font-weight: bold;
}

.table-item {
    display: flow-root !important; /* fixes height animation problem somehow :) */
}

.table-col {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* transitions for TransitionGroup */

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.fade-exit {
    max-height: 100px;
    opacity: 1;
}

.fade-exit-active {
    max-height: 0;
    opacity: 0;
    transition: all 300ms ease-in-out;
}