.table-heading {
    padding      : 10px;
    padding-left : 0px;
    padding-right: 0px;
    background   : #F7F8F9;
    font-weight  : bold;
    text-overflow: ellipsis;
    white-space  : nowrap;
    overflow     : hidden;
}

.table-item {
    display                                   : flow-root !important;
    /* fixes height animation problem somehow :) */
    transition                                : background 300ms;
    /* background                             : rgba(255, 255, 255, 0.8); */
}

.table-item:hover {
    background: rgba(255, 255, 255, 0.9);
}

.table-col {
    margin-top   : 10px;
    margin-bottom: 10px;
}

/* transitions for TransitionGroup */
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity   : 1;
    transition: all 300ms ease-in-out;
}

.fade-exit {
    max-height: 100px;
    opacity   : 1;
}

.fade-exit-active {
    max-height: 0;
    opacity   : 0;
    transition: all 300ms ease-in-out;
}