
html, body {
    background: #fff;
    margin: 0;
    padding: 0;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;  
    display: flex;
    flex-direction: column;
}

.container {
/* give the outermost container a predefined size */
    position: absolute;
    top: calc(32px); /* titlebar */
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: #e8e8e8 solid 1px;
    border-top: none;
}

.section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /* for Firefox */
    min-height: 0;
}

.scrollable-content {
    flex-grow: 1; 
    overflow: auto;

    /* for Firefox */
    min-height: 0;

    overflow-y: overlay; /* scroll bar will not mess the content up!  */
}

.divider {
    position: relative;
    height: 1px;
    background: #e8e8e8;
}

.flex_no_shrink {
    flex-shrink: 0;
}

.pad-left {
    padding-left: 20px;
}

.h50 {
    flex-basis: 50%;
    flex-shrink: 0;
}

.h60 {
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 0;
}

.h30 {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 16px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0, 0.2);
    border-radius: 16px; 
    border:6px solid #fff
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin-right: 5px;
}
